.dashboard {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.dashboard__content {
	padding: 0 10%;
	margin-top: 1rem;
}

.dashboard__content > div {
	margin-top: 5rem;
	display: grid;
	gap: 3rem 5rem;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 1fr);
}

.addWebsite {
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	margin-top: 10px;
	cursor: pointer;
	outline: none;
}

.blurredBackground {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-y: hidden;
	background-color: #ddd;
	opacity: 0.94;
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addWebsiteForm {
	z-index: 2;
	border-radius: 10px;
	background-color: rgb(243, 243, 243);
	box-shadow: 5px 5px 16px -4px #000000;
	max-width: 600px;
	position: absolute;
	align-self: center;
	justify-self: center;
	padding: 5rem 2rem;
	top: 12.5%;
	left: 33%;
}

.addWebsiteForm > h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.addWebsiteForm > input {
	width: 100%;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	font-size: 1rem;
}

.newWebsiteImage {
	font-size: 1.25rem !important;
	padding: 0;
	margin: 0;
}

.formInput {
	outline: none;
}

.websiteFormSubmitButton {
	border: none;
	padding: 0.8rem 1rem;
	width: 100%;
	cursor: pointer;
	background-color: #4700e6;
	color: #fff;
	margin-top: 1rem;
	font-size: 1.25rem;
}

@media (max-width: 1500px) {
	.dashboard__content > div {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1160px) {
	.addWebsiteForm {
		left: 25%;
	}
}

@media (max-width: 1024px) {
	.addWebsiteForm {
		left: 22%;
	}

	.dashboard__content > div {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 900px) {
	.addWebsiteForm {
		left: 14%;
	}
}

@media (max-width: 712px) {
	.addWebsiteForm {
		left: 8%;
	}
}
@media (max-width: 660px) {
	.addWebsiteForm {
		left: 0;
	}
	.dashboard__content > div {
		grid-template-columns: 1fr;
	}
}
