.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	padding: 0 10%;
	background-color: #4700e6;
	color: #fff;
	z-index: 10;
}

.navbar__content > div > .mobileSidebar {
	display: none;
	min-width: 250px;
}

.hidden {
	display: none !important;
}

.brand {
	cursor: pointer;
}

.navbar__content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar__content > div {
	display: flex;
}

.hamburger {
	display: none;
	z-index: 2;
}

.hamburger > svg {
	z-index: 2;
}

.navbar__content > div > * {
	margin: 0 2rem;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 1.25rem;
	cursor: pointer;
}

@media (max-width: 800px) {
	.brand {
		font-size: 1.75rem;
	}
	.navbar__content > div > * {
		font-size: 1rem;
		margin: 0 1rem;
	}
}

@media (max-width: 660px) {
	.navbar__content > div > * {
		display: none;
	}

	.navbar__content > .notLoggedIn > * {
		display: initial;
	}
	.navbar__content > div > .hamburger {
		display: block;
	}
	.navbar__content > div > .mobileSidebar {
		display: flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		right: 0;
		top: 100px;
		background-color: #4700e6;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: hidden;
		animation: mobileSidebar 0.5s ease-out;
	}

	.navbar__content > div > .mobileSidebar.hide {
		animation: closeMobileSidebar 0.5s ease-out;
	}

	.navbar__content > div > .mobileSidebar > * {
		font-size: 1.5rem;
		padding: 0 1rem;
		margin: 1rem 0;
	}

	.navbar__content > div > .mobileSidebar > button {
		padding: 0 2rem;
		margin-bottom: 1rem;
		border: none;
		color: #fff;
		background-color: transparent;
		font-size: 1.25rem;
		text-decoration: underline;
		cursor: pointer;
	}

	.hamburger {
		position: absolute;
		top: 40px;
		right: 20px;
	}
}

@keyframes mobileSidebar {
	0% {
		transform: translateX(300px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes closeMobileSidebar {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(300px);
	}
}
